<?xml version='1.0' encoding='utf-8'?>
<widget id="br.employee.db.tracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Employee Tracker</name>
    <description>
        Employee Tracker app with database function
    </description>
    <author>
        Ben Reynolds
    </author>
    <content src="index.html" />
	<icon src="img/br-icon.png" />
    <access origin="*" />
</widget>
